@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model UsersAlumini

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Students and Alumni from Sena</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <div class="container-fluid">
        <h1>Update an Student or an Alumnus <a asp-action="Index" class="btn btn-sm btn-secondary">Back</a></h1>
        <form method="post">

            @*<div class="form-group">
                    <label asp-for="Usr_id"></label>
                    <input type="number" class="form-control" asp-for="Usr_id" />
                </div>*@
            <div class="form-group">
                <label asp-for="Usr_doc">Doc Number</label>
                <input type="text" class="form-control" asp-for="Usr_doc" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_kind_doc">Category Doc</label>
                <input type="text" class="form-control" asp-for="Usr_kind_doc" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_name">Name</label>
                <input type="text" class="form-control" asp-for="Usr_name" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_phonenum">Phone Number</label>
                <input type="text" class="form-control" asp-for="Usr_phonenum" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_email">Email</label>
                <input type="text" class="form-control" asp-for="Usr_email" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_gender">Gender</label>
                <input type="text" class="form-control" asp-for="Usr_gender" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_category">Category</label>
                <input type="text" class="form-control" asp-for="Usr_category" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_program">Program</label>
                <input type="text" class="form-control" asp-for="Usr_program" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_startdate">Enrollment Date</label>
                <input type="text" class="form-control" asp-for="Usr_startdate" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_address">Address</label>
                <input type="text" class="form-control" asp-for="Usr_address" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_neighborhood">Neighborhood</label>
                <input type="text" class="form-control" asp-for="Usr_neighborhood" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_city">City</label>
                <input type="text" class="form-control" asp-for="Usr_city" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_province">Province</label>
                <input type="text" class="form-control" asp-for="Usr_province" />
            </div>
            <div class="form-group">
                <label asp-for="Usr_dateregistr">Date Added On</label>
                <input type="text" class="form-control" asp-for="Usr_dateregistr" />
            </div>

            <div class="text-center panel-body">
                <button type="submit" class="btn btn-sm btn-primary">Update</button>
            </div>
        </form>
    </div>
</body>
</html>